# ldap auth configuration
auth_ldap_cache_enabled on;
# auth_ldap_cache_expiration_time 600000; # 10 min
auth_ldap_cache_expiration_time 60; # 1 min
auth_ldap_cache_size 1000;

ldap_server ldap1 {
    url ${NGINX_AUTH_LDAP_URL};
    binddn ${NGINX_AUTH_LDAP_BINDDN};
    binddn_passwd ${NGINX_AUTH_LDAP_BINDPW};
    require valid_user;
}

